/CategoriaAttuatori.class
/CategoriaSensori.class
/ListaCategoriaAttuatori.class
/ListaCategoriaSensori.class
/ListaSensori.class
/Liste.class
/Sensore.class
/UnitaImmobiliare.class
/Antecedente.class
/Conseguente.class
/AntecedenteSempreVero.class
/AntecedenteTraDueSensori.class
/AntecedenteSingoloSensore.class
/Azioni.class
/RegolaSempreVera.class
/RegolaSingoloSensore.class
/RegolaDueSensori.class
/DateTime.class
/LetturaFile.class
/LeggiFile.class
/FileReader.class
